body{
  background-image: url("http://us.123rf.com/450wm/kruwt/kruwt1607/kruwt160700053/61896198-old-sicilian-village-with-houses-built-above-each-other.jpg?ver=6");
  width:750px;
  color:cornsilk;
  font-family: "sans-serif" url("https://fonts.google.com/specimen/Lobster");



}
h1{
  background-color: maroon;
  border-radius: 50%;
  text-align: center;
  width:750px;
  height: 200px;
  font-size: 60px;

}
header{
  height:50px

}

h2{
  padding-top: 25px;
  background-color: maroon;
  height:50px;
  border-radius: 50%;
  color: cornsilk;
}

.box{
  margin-left: 400px;
  border-radius: 20%;

}

.searchbar{
  display:inline-block;

}
.sectiontitle{
  text-align: center;
  width:750px;
}


.right{
  position:absolute;
  right: 0;
  width: 500px;
  padding: 10px;
  text-align: right;
  border-radius: 40%;


}

.left{
  position:absolute;
  left: 0;
  width:33%;
  padding:10px;
  border-radius: 40%;


}
.sectionparent{
  width:750px;
  height:500px;
  position:relative;

}
section{
  text-align: left;
  color:cornsilk;
  background-color: maroon;
  background-position: left;
  height: 250px;
  width: 200px;
  border-radius: 20%;
}


a:link{color:cornsilk;}
a:visited{color:peru;}
a:hover {color:cornsilk;}
a:active {color:cornsilk;}
